/* style.css */

*,
*::before,
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #f1f1f1;
    color: grey;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.row {
    display: -webkit-flex;
    display: flex;
}

.column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.img-size {
    height: fit-content;
    width: fit-content;
}

@media (max-width:600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
/* this was my original attempt at CSS. Everything above it is going to be following the box model and a proper css layout. */
/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: linear-gradient(#092834, #67afcb);
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.theme {
    color: #67afcb;
    font-size: 36px;
}

.color {
    color: #092834;
}

.img-size {
    height: auto;
    width: auto;
}

.img-size, .blue-pie {
    height: 475px;
    width: 475px;
}

.button {
    background-color:#67afcb; 
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px; 
  }

  .container {
    width: 980px;
    margin: 0 auto;
  } */ 