/* style.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #347b98;
}

.theme {
    color: #67afcb;
    font-size: 48px;
}

.color {
    color: #092834;
}

.img-size {
    height: 600px;
    width: 550px;
}